body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

header {
    background-color: #73000A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#main-heading {
    font-size: 2.5em;
}

#name-info, #class-info {
    font-size: 1.2em;
    margin: 0;
}

#assignments-section, #projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ADD8E6; /* Light Blue */
    padding: 20px;
}

#assignments-heading, #projects-heading {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#assignments-list, #projects-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#assignments-list li, #projects-list li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.assignment-box, .project-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.33% - 20px); /* Adjust as needed */
}

.assignment-box h3, .project-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.item-link {
    text-decoration: none;
    color: #333;
}

.item-link:hover {
    text-decoration: underline;
    color: #B1CC52;
}

#content-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
