body {
    font-family: 'Georgia', serif;
    background-image: url('images/background2.png'); 
    background-size: cover;
    color: #fff; 
}

nav {
    background-color: #C8102E; 
    padding: 10px;
}

#main-heading {
    font-size: 2.5em;
    color: #C8102E; 
}

.formatted-image {
    border: 2px solid #C8102E; 
    padding: 10px;
    margin: 10px;
}

.formatted-table th, .formatted-table td {
    border: 1px solid #C8102E; 
    padding: 10px;
    text-align: center;
}

.formatted-div {
    background-color: rgba(200, 16, 46, 0.8); 
    padding: 20px;
    margin: 20px;
}
